/*头部#393a3f
聊天背景#ebebeb
编辑栏#f4f4f4
信息背景#e5e5e5
字体#353535
边框#6f7378
*/
*{
	padding: 0;
	margin:0;
}
html{
	font-size: 62.5%;
}
.mainwrapper{
	display: flex;
	flex-direction:column;
	width: 100vw;
	height: 100vh;
}
header{
	position: fixed;
	color: white;
	flex: 1;
	width: 100vw;
	background-color: #393a3f;
	font-size: 4rem;
}
.botname{
display: inline-block;
margin-left: 3vw;
}
#arrow{
	margin: 1.4vh;
}
#user{
	float: right;
	margin: 1.5vh;
}
#talkBox{
	flex: 10;
	z-index: -1;
	position: absolute;
	top: 6vh;
	padding: 0 5vw;
}
.botmessage ,.usermessage{
	width: 90vw;
	height: 10vh;
	font-size: 3rem;
	display: flex;
	align-items: center;
	margin: 3vh 0;
}
.usermessage{
	justify-content: flex-end;
}
.bot_pic,.user_pic{
	height: 7vh;
	width: 7vh;
background-size:cover;  
}
.message{
	border:1px solid #666;
	background: #13e982;
	margin:0 5vw;
	border-radius:1vw;
	padding: 1vh;
}

.bot_pic{
	background-image:url(../imgs/02.jpg); 
}
.user_pic{
	background-image:url(../imgs/01.jpg); 
	background-size:cover; 
}
 .message:before{
	width: 3vh;
	height: 3vh;
	position: relative;
	background:red;
	transform: rotate(45deg);
}
#footer{
	position:fixed;
	height: 10vh;
	width: 100vw;
	bottom: 0;
	background-color:#f4f4f4;
	font-size: 5rem;
	color:#353535;
}
.footer_font{
	width: 9vw;
	height: 9vw;
	display: inline-block;
	border: 2px solid #6f7378;
	border-radius: 50%;margin-top: 1.5vh;
}
.footer_font i{
	position: relative;
}
.fa-rss{
	transform: rotate(45deg);
	left: 2vw;
}
.fa-meh-o{
	left: 1.5vw;
}
.fa-times{
	transform: rotate(45deg);
	left: 2vw;
}
.rss{
	margin-left: 2vw;
}
.more{
	float: right;
	margin-right:2vw;
}
.smile{
	position: absolute;
	right: 15vw;
}
#text_input{
	width:50vw;
	border:none;
}
#text_input input{
	margin-left: 4vw;
	font-size: 3rem;
	height: 5vh;
	border:2px solid ;
	border-color: transparent transparent #666 transparent ;
	background-color: transparent;
}
input:focus{
	border-color: border-color: transparent transparent #39CA34 transparent ;
}
#sent{
	width: 6vh;
	height: 4vh;
	line-height: 4vh;
	text-align: center;
	position: absolute;
	right: 1vh;
	top: 2vh;
	font-size: 3rem;
	background:#39CA34; 
	display: none;
	border-radius: 1rem;
}