/*头部#393a3f
聊天背景#ebebeb
编辑栏#f4f4f4
信息背景#e5e5e5
字体#353535
边框#6f7378
*/

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.mainwrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    color: white;
    flex: 1;
    width: 100vw;
    background-color: #393a3f;
    font-size: 0.6rem;
}

.botname {
    display: inline-block;
    margin-left: 3vw;
}

#arrow {
    margin: 1.4vh;
}

#user {
    float: right;
    margin: 1.5vh;
}

#talkBox {
    flex: 10;
    z-index: -1;
    position: absolute;
    top: 6vh;
    padding: 0 5vw;
    padding-bottom: 2rem;
}

.botmessage,
.usermessage {
    width: 90vw;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 0.6rem 0;
}

.usermessage {
    justify-content: flex-end;
}

.bot_pic,
.user_pic {
    height: 1.2rem;
    width: 1.2rem;
    background-size: cover;
}

.message {
    font-size: 0.4rem;
    border: 1px solid #666;
    background: #13e982;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    max-width: 60vw;
}

.bot_pic {
    background-image: url(../imgs/02.jpg);
    background-size: cover;
}

.user_pic {
    background-image: url(../imgs/01.jpg);
    background-size: cover;
}

#footer {
    position: fixed;
    height: 1.5rem;
    width: 100vw;
    bottom: 0;
    background-color: #f4f4f4;
    font-size: 0.7rem;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_font {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6f7378;
    border-radius: 50%;
}

.more {
    margin: 0 0.2rem;
}

.fa-rss,
.fa-times {
    transform: rotate(45deg);
}

#text_input {
    width: 55vw;
    border: none;
    margin: 0 0.3rem;
}

#text_input input {
    font-size: 0.5rem;
    height: 1rem;
    border: 2px solid;
    border-color: transparent transparent #666 transparent;
    background-color: transparent;
}

input:focus {
    outline: none;
    border-color: transparent transparent #39CA34 transparent;
}

#sent {
    width: 1rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.35rem;
    color: white;
    background: rgba(96, 230, 66, 0.85);
    display: none;
    border-radius: 0.1rem;
    margin: 0 0.2rem;
}